.gridCardContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
    justify-items: center;
}

@media screen and (min-width: 768px) {
  .gridCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .gridCardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

.gridImagesContainer {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(370px, max-content));
  justify-content: center;
  justify-items: center;
  margin: 3rem 0;
  max-width: 100%;
}

.paragraph {
  margin: auto;
  max-width: 80vw;
  text-align: center;
}