.gridCardContainer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(420px, max-content));
  justify-content: center;
  justify-items: center;
  max-width: 100%;
}

.gridImagesContainer {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(370px, max-content));
  justify-content: center;
  justify-items: center;
  margin: 3rem 0;
  max-width: 100%;
}

.paragraph {
  margin: auto;
  max-width: 80vw;
  text-align: center;
}