.hero {
    aspect-ratio: 1500 / 663;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--theme-neutral0);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    justify-content: center;
    color: var(--theme-neutral0);
}

.subTitle {
    text-transform: uppercase;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.actions {
    text-transform: uppercase;
}

.note {
}

@media (min-width: 1080px) {

    .hero {
        padding: 2rem 8rem;
    }

    .subTitle {
        margin: 0.75rem 0;
        text-transform: uppercase;
    }

    .title {
        font-weight: bold;
        margin: 0.75rem 0;
        text-transform: uppercase;
    }

    .actions {
        margin: 0.75rem 0;
        text-transform: uppercase;
    }

    .note {
        margin: 0.75rem 0;
    }
}

@media (max-width: 600px) {

    .hero {
        padding: 0.5rem 1rem;
    }

    .subTitle {
        margin: 0.75rem 0;
    }

    .title {
        margin: 0.75rem 0;
    }

    .actions {
        margin: 0.75rem 0;
    }

    .note {
        margin: 0.75rem 0;
    }
}