.main {
    background-color: var(--theme-neutral90);
    color: var(--theme-neutral0);
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem;
    display: grid;
  }
  
  .branding {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .logo {
    max-width: 4rem;
    max-height: 4rem;
  }
  
  .title {
    font-weight: bold;
  }
  
  .subtitle {
    font-weight: bold;
    font-size: 0.75rem;
  }
  
  .links {
    display: grid;
    gap: 1rem;
  }
  
  .socialNetworksIcons {
    display: flex;
    gap: 1rem;
  }
  
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .icon path {
    fill: var(--theme-primary100);
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (min-width: 600px) {
    .main {
      grid-template-columns: 1fr 1fr;
      padding: 2rem 5rem;
    }
  
    .links {
      grid-template-columns: 1fr 1fr;
    }
  }