@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --theme-neutral100: #0D0D0D;
  --theme-neutral90: #161722;
  --theme-primary100: #FFD2A4;
  --theme-primary50: #FFF5EB;
  --theme-primary25: #F5F2F0;
  --theme-neutral0: white;
  --theme-green100: #2ab318;

}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-size: 2rem;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  margin: 0;
}

h6 {
  font-size: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  min-height: 70vh;
}