@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'PT Serif', serif;

    --morado: #735794;
    --rosa: #CF6A63;
    --beige: #F4F3ED;
    --gris: #191919;
    --negro: #000000;
    --azul: #576393;
    --naranja: #EA5F39;
}


.langing {
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 2rem 8rem;
    background-color: var(--beige);
}

.amistad-logo {
    height: 5rem;
    width: 20rem;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px;
    background-image: url('https://res.cloudinary.com/dr3e3isjq/image/upload/v1689310101/Fondo-Slider-con-flores---Amistad-Live_bbrurr.jpg');
    background-size: cover;
    min-height: 400px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    align-items: center;
}

.hero-line-1 {
    font-size: 6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--morado);
}

.hero-line-2 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--morado);
    margin-bottom: 10px;
}

.hero-line-3 {
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--negro);
    font-style: italic;
    font-family: var(--font-secondary);
    margin-bottom: 10px;
}

.hero-line-4 {
    font-size: 2.1rem;
    text-transform: uppercase;
    color: var(--negro);
    margin-bottom: 10px;
    border: 2px solid var(--negro);
    border-radius: 10px;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 30px;
    }
  
    .hero-left {
        margin-left: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
  
    .hero-line-1 {
        font-size: 4rem;
    }
  
    .hero-line-2 {
        font-size: 3rem;
    }
  
    .hero-line-3 {
        font-size: 1.8rem;
    }
  
    .hero-line-4 {
        font-size: 1.7rem;
    }
  
    .hero-right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
  
    .hero-right img {
        width: 200px;
        height: auto;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

.countdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.countdown-box {
    display: flex;
    flex-direction: column;
}

.countdown-number {
    font-size: 5rem;
}

.countdown-text {
    font-size: 2rem;
}

.countdown-dots {
    font-size: 4rem;
}

@media (max-width: 768px) {
    .countdown-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
  
    .countdown-dots {
        display: none;
    }
  
    .countdown-number {
        font-size: 4rem;
    }
  
    .countdown-text {
        font-size: 1.5rem;
    }
}


.cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--morado);
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
    text-align: center;
    margin-top: 1rem;
}

.hero-right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-right img {
    margin-left: 20px;
}

.countdown {
    padding: 50px;
    background-color: #735794;
    color: #FFFFFF;
    text-align: center;
}

.congress-section {
    padding: 50px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.congress-card {
    display: flex;
    align-items: center;
    background-color: #F4F3ED;
    border-radius: 20px;
    max-width: 70%;
    overflow: hidden;
}

.congress-card-left {
    flex-basis: 50%;
    width: 50%;
}

.congress-card-left iframe {
    width: 100%;
    height: 300px;
}

.congress-card-right {
    flex-basis: 50%;
    padding: 20px;
    overflow: hidden;
    width: 50%;
}

.congress-card-right h3 {
    font-size: 24px;
    color: var(--morado);
    margin-bottom: 10px;
}

.congress-card-right p {
    font-size: 18px;
    color: #191919;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .congress-card {
        flex-direction: column;
        max-width: 100%;
    }

    
    .congress-card-left,
    .congress-card-right {
        flex-basis: auto;
        width: 100%;
    }

    .congress-card-right {
        padding: 1rem;
    }
  
  
    .congress-card-left iframe {
        height: 200px;
    }
  
    .congress-card-right h3 {
        font-size: 20px;
    }
  
    .congress-card-right p {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.fullwidth-section {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #FFFFFF;
}

.cost-section-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--rosa);
}

.icon-with-text-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-text {
    font-size: 1.25rem;
}

.icons-main-container {
    background-image: url('https://res.cloudinary.com/dr3e3isjq/image/upload/v1689310100/Fondo-beneficios-1---Amistad-Live_kjpewt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.cost-container {
    color: white;
    padding: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cost-line-1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.cost-line-2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.cost-line-3 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.cost-cta-button {
    background-color: white;
    color: var(--morado);
    width: 10rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cost-section-container {
        display: flex;
        flex-direction: column;
    }
  
    .icon-with-text-box {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
  
    .icons-main-container {
        padding: 1rem;
    }
  
    .icon-text {
        margin-top: 1rem;
        text-align: center;
    }
  
    .cost-container {
        padding: 2rem;
        width: 100%;
    }
  
    .cost-line-1 {
        font-size: 1.25rem;
    }
  
    .cost-line-2 {
        font-size: 2.5rem;
    }
  
    .cost-line-3 {
        font-size: 4rem;
    }
}

.gratis-cta-button {
    background-color: var(--rosa);
    color: white;
    width: 10rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.gratis-cta-button {
    background-color: var(--rosa);
    color: white;
    width: 10rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.como-llegar {
    background-color: var(--morado);
    color: white;
    width: 10rem;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.botton-centred {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.congress-card-photo {
    background-image: url('https://res.cloudinary.com/dr3e3isjq/image/upload/v1689310101/Yvonne-02---Amistad-Live_wrn55u.jpg');
    background-size: cover;
    width: 50%;
    min-height: 25rem;
}



.concert-date {
    border: 1px solid var(--morado);
    padding: 0.25rem 1rem;
    border-radius: 12px;
    font-size: 1.25rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.concert-date-price {
    border: 1px solid var(--morado);
    background-color: var(--morado);
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 12px;
    margin-right: -2rem;
}

.congress-card .gratis {
    margin-top: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .congress-card {
        flex-direction: column-reverse;
    }
  
    .congress-card-photo {
        width: 100%;
        min-height: 20rem;
    }
  
    .congress-card-right {
        margin-bottom: 2rem;
    }
  
    .concert-date {
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: center;
    }
  
    .concert-date-price {
        margin-right: -1rem;
        margin-top: 1rem;
    }
  
    .congress-card .gratis {
        margin-top: 1rem;
    }
  
    .botton-centred {
        display: flex;
        justify-content: center;
    }
}

s {
    text-decoration: none;
    position: relative;
}

s::before {
    top: 50%;
    background: red;
    opacity: .7;
    content: '';
    width: 110%;
    position: absolute;
    height: .1em;
    border-radius: .1em;
    left: -5%;
    white-space: nowrap;
    display: block;
    transform: rotate(-15deg);
}

.white-card-section {
    padding: 50px;
    background-color: #FFFFFF;
}

.white-card {
    display: flex;
    align-items: center;
    background-color: #F4F3ED;
    border-radius: 20px;
}

.white-card-left {
    flex-basis: 50%;
    padding: 20px;
}

.white-card-left h3 {
    font-size: 24px;
    color: #191919;
    margin-bottom: 10px;
}

.white-card-left p {
    font-size: 18px;
    color: #191919;
    margin-bottom: 20px;
}

.white-card-right {
    flex-basis: 50%;
}

.white-card-right h3 {
    color: var(--morado)
}

.white-card-image {
    flex-basis: 50%;
    background-image: url('https://res.cloudinary.com/dr3e3isjq/image/upload/v1689310101/Yvonne-02---Amistad-Live_wrn55u.jpg');
}

.white-card-right img {
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .white-card {
        flex-direction: column;
    }
  
    .white-card-left {
        padding: 20px;
        text-align: center;
    }

    .white-card-left img {
        aspect-ratio: 600 / 430;
        width: 100%;
        height: auto;
    }
  
    .white-card-right {
        text-align: center;
    }
  
    .white-card-image {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
  
    .white-card-right img {
        width: 100%;
        max-width: 300px;
        border-radius: 20px;
    }
}

.image-background-section {
    padding: 50px;
    background-image: url('https://res.cloudinary.com/dr3e3isjq/image/upload/v1689310101/Fondo-conferencistas---Amistad-Live_akguqw.jpg');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}

.conferencistas-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 450px));
    gap: 3rem;
    justify-content: center;
}

.conferencista {
    text-align: center;
    background-color: white;
    border: 2px solid var(--beige);
    border-radius: 2rem;
    padding: 3rem 2rem;
    color: var(--negro);
}

.conferencista img {
    border-radius: 50%;
}

.conferencista h4 {
    font-size: 24px;
    margin: 10px 0;
}

.conferencista p {
    font-size: 18px;
    text-align: left;
}

.timeline-section {
    padding: 50px;
    background-color: #FFFFFF;
}

.small-hero {
    padding: 50px;
    background-image: url('https://res.cloudinary.com/dr3e3isjq/image/upload/v1689310101/Llamada-de-accio%CC%81n---Amistad-Live_xr1c3k.jpg');
    background-size: cover;
    background-position: right;
    color: #FFFFFF;
}

.small-hero-content {
    margin-bottom: 20px;
    max-width: 25rem;
    text-align: center;
    margin-left: 2rem;
}

.small-hero-content h1 {
    font-size: 3.5rem;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.small-hero-content h2 {
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.white-card-section:last-child {
    margin-bottom: 0;
}

.footer {
    padding: 1rem 4rem;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

footer img {
    background-color: #000000;

}

.social-icons {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 1rem;
}

.icons {
    width: 3rem;
    height: 3rem;
}

.icons path {
    fill: white;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
  
    .footer img {
        margin-bottom: 1rem;
    }
  
    .social-icons {
        margin-left: 0;
        gap: 0.5rem;
    }
  
    .icons {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.mini-footer {
    padding: 10px 20px;
    background-color: #191919;
    color: #FFFFFF;
    text-align: center;
}


/* AQUI VA EL CSS DEL TIMELINE  */

.timeline-title{
    text-align: center;
    margin: 1rem auto;
    font-size: 1.25rem;
}


.timeline-section {
    padding: 50px;
    background-color: #FFFFFF;
}

.timeline-main {
    background-color: var(--beige);

    border-radius: 2rem;
    overflow: hidden;
}

.timeline-header {
    background-color: var(--morado);
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem 3rem;
}

.timeline-container {
    background-color: var(--beige);
}


.timeline {
    border-left: 4px solid black;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: black;
    margin: 10px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}

.timeline h1 {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}

.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -217.5px;
    color: black;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .event:after {
    left: -57.85px;
    background: red;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}